/* **************************************
                SETTING
************************************** */

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin-top: 4em;
}
@media (min-width:451px)  { 
    h1,h2,h3 {
        font-size: 1.92rem;
        font-family: proxima-nova, sans-serif;
    }
}

p {
    font-family: proxima-nova, sans-serif;
font-style: normal;
font-weight: 200;
}

.padding-gap {
    margin-top: 3.5em;
}


/* **************************************
            BODY SECTION
************************************** */

body {
    background-color: #F0E6DC;
}

.body-container {
      padding: 0 25px; 
      margin: 0 auto;
}
@media (min-width:451px)  {
    .body-container {
        width: 84%;
    }

}

#pink-color {
    color: #D1164C;
    font-weight: bold;
}

/* **************************************
            NAVBAR SECTION
************************************** */

.navbar {
    display: none;
}

@media (min-width:451px)  {
      .navbar {
          display: flex;
          justify-content: flex-end;
      }

      .navbar > nav > ul {
        display: flex;
        /* justify-content: flex-end; */
        list-style: none;
        align-items: center;
    }

    nav > ul > li {
        font-size: 1.2rem;
        padding-left: 1em;
        font-family: 'Quicksand', sans-serif;
    }

    .nav-resume {
        border: 3px solid #D1164C;
        padding: 0.375rem;
    }

    .nav-resume > a {
        text-decoration: none;
        color: #D1164C;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1px 3px;
        font-family: 'Quicksand', sans-serif;
    }
}



/* **************************************
            BANNER SECTION
************************************** */

.Banner {
    margin-top: 10em;
}


.Banner-content > p {
    font-size: 2.2rem;
    font-family: 'Playfair Display', serif;
}

.Banner-button {
    border: 2.7px solid #D1164C;
    padding: .5em;
    width: fit-content;
    margin-top: 5em;
    /* clear:both;
    float:left; */
}

.Banner-button > a {
    text-decoration: none;
    color:  #D1164C;
    font-weight: bold;
}

@media (min-width:451px)  { 
    .Banner {
        margin-top: 6em;
    margin-bottom: 8em;
    width: 60%;
    }

    #heading1 {
        font-size: 2.4rem;
        font-weight: 650;
        font-family: 'Quicksand', sans-serif;
    }

    #heading2 {
        font-size: 2.4rem;
        margin: 2px 0 ;
        font-weight: 650;
        font-family: 'Quicksand', sans-serif;
    }

    .Banner-button {
        display: flex;
        justify-content: center;
        width: 17%;
        padding: .5em;
        margin: 1.9em 0;
        background-color: #F0E6DC;
        color: #D1164C;
        border: 3px solid #D1164C;
    }
    .Banner-button > a {
        font-size: 1.04rem;
        font-weight: 700;
        font-family: 'Quicksand', sans-serif;
    }

    .banner-container {
        display: flex;
        align-items: center;
    }
}

/* **************************************
            ABOUT SECTION
************************************** */
.About {
    margin-top: 17em;
}

.about-section {
    display: flex;
    flex-direction: column;
}

h2 {
    border-bottom: 2px solid #707070;
}

.about-content {
    font-size: 1.2rem;
}

.tech-stack {
    display: flex;
}
.tech-stack > ul {
    list-style: none;
    padding-left: 1em;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.fa-caret-right {
    color: #D1164C;
}

.about-image > img {
    width: 12em;
    height: 12em;
    margin-top: 2.5em;
}

.about-image {
    margin: 0 auto;
}

@media (min-width:451px)  { 
    .about-section {
        flex-direction: row;
    }

    .about-content {
        width: 60%;
        font-size: 1.2rem;
    }

    .about-image > img {
        width: 20em;
        height: 20em;
    }

    .about {
        margin-top: 15em;
    }

 
}

/* **************************************
            WORK SECTION
************************************** */

.work {
    padding: 0 8px;
    height: 16em;
    margin-top: 4em;

}

.work-img {
    height: 100%;
    width: 100%;
    background-color: #E1CDBA;
    position: relative;
}

.work-content-mobile {
    position: absolute;
    background-color:#E1CDBA;
    margin: 0 auto;
    top: 2em;
    bottom: 2em;
    right: 4em;
    left: 4em;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-content-mobile  .first {
    text-align: center;
    color: #D1164C;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

.work-content-mobile .second {
    margin: 0 5px;
    font-size: 15px;
    font-weight: 300;
    color:  gray;
}

.work-img > img{
    width: 100%;
    height: 100%;
    opacity: 40%;
}

.work-social-icon {
    width: 100%;
}

.work-social-icon > ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding: 0 10px;
}

.work-social-icon > ul > a > li {
    padding-left: 10px;
    color: #D1164C;
}

.work-social-icon > ul  > li {
    padding-left: 10px;
    color: #D1164C;
}

.work-content-container {
    display: none;
}

@media (min-width:451px)  { 
    .work-content-mobile {
        display: none;
    }

    .work-img {
        width: 50%;
        position: static;
        
    }

    .work-img > img {
        opacity: 100%;
    }

    .work {
        display: flex;
        height: 80vh;
        margin-top: 5.5em;
    }

    .work-content-container {
        width: 50%;
        background-color: #E1CDBA;
    }
    
    .work-stack {
        display: flex;
    }

    .work-info {
        display: flex;
    }

    .work-social-icon {
        display: flex;
        align-items: flex-end;
    }

    .work-stack ul > li {
        font-size: 1.2rem;
        list-style: none;
        
    }

    .work-stack > ul {
        padding-left: 0;
        padding-right: 1.3em;
    }

    #work-heading {
        font-size: 3.5rem;
        color: #D1164C;
        margin: 0;
    }

    .work-content-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .padding-gap {
        margin-top: 8em;
    }
    /* work content css */

}

/* **************************************
            BLOG SECTION
************************************** */
.blog {
    display: flex;
    width: 100%;
    height: 5em;
    margin-top: 2em;
}

.blog-img{
    width: 30%;
    /* height: 100%; */
    background-color: black;
}

.blog-content {
    display: flex;
    align-items: center;
    width: 70%;
    background-color: #E1CDBA;
}

.blog-img > img {
    width: 100%;
    height: 100%;
}

.blog-content > p {
    margin: 0;
    padding: 0 8px;
    font-family: proxima-nova, sans-serif;
    font-style: normal;
    font-weight: 500;
}

@media (min-width:451px)  { 
    .padding-gap {
        margin-top: 5em;
    }

    .blog {
        height: 11em;
        width: 100%;
    }

    .blog-img {
        width: 22%;
    }
    .blog-content {
        width: 100%;
    }

    .blog-content > p {
        font-size: 2.16rem;
        padding-left: 1em;
    }
}


/* **************************************
            FOOTER SECTION
************************************** */
.footer-container {
    margin-top: 3em;
}
.footer-container > p {
    font-size: 11px;
    margin-bottom: 2px;
    text-align: center;
}

.footer-container > ul {
    display: flex;
    margin-top: 4px;
    justify-content: center;
    padding: 0;
}

.footer-container > ul > li {
    color: #D1164C;
    list-style: none;
    padding-left: 7px;
}


@media (min-width:451px)  {  
    .footer-container {
        font-size: 3rem;
        margin-top: 5.5em;
    }

    .footer-container > p {
        font-size: 1.36rem;
    }
}