/* **************************************
            BODY SECTION
************************************** */

body {
    background-color: #F0E6DC;
}

.body-container {
      padding: 0 25px; 
      margin: 0 auto;
}

#pink-color {
    color: #D1164C;
}

/* **************************************
            NAVBAR SECTION
************************************** */

.navbar {
    display: none;
}

/* .navbar > nav > ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav > ul > li {
    padding-left: 1em;
} */


/* **************************************
            BANNER SECTION
************************************** */

.Banner {
    margin-top: 10em;
}
.Banner-content > p {
    font-size: 2.2rem;
}

.Banner-button {
    border: 2.7px solid #D1164C;
    padding: .3em;
    width: fit-content;
    margin-top: 5em;
    /* clear:both;
    float:left; */
}

.Banner-button > a {
    text-decoration: none;
    color:  #D1164C;
}

/* **************************************
            ABOUT SECTION
************************************** */
.About {
    margin-top: 15em;
}

h2 {
    border-bottom: 2px solid red;
}